<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="https://mohamedjasmin.github.io/lothori/style.css" rel="stylesheet">
</head>
	<style>
 p {
	 border: 3px solid DarkSlateGray;
		}
#display-5 {
	background-color: "LightGrey";
 }
</style>
<body style="background-color:Beige;">

<!-- NAVIGATION -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
<div class="container-fluid">
  <!--<a class="navbar-logo" href="#"><img src="img/logo.png"></a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse"
  data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
			<li class="nav-item active">
        <a class="nav-link" href="https://mohamedjasmin.github.io/lothori/index"> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://mohamedjasmin.github.io/lothori/whylothori"> Why Lothori</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://mohamedjasmin.github.io/lothori/resources"> Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://mohamedjasmin.github.io/lothori/blog"> Blog</a>
      </li>
      </li>
    </ul>
  </div>
</div>
</nav>

<br>
<div class="post-content">
<h3><u> {{ page.title }}</u></h3>
<h5><em>{{ page.author }}</em></h5>
<br>
<h4>{{ page.date | date: "%-d %B %Y"}}</h4>
<br>
	</div>
{{ content }}



<!--- SOCIAL LINKS -->
<div class="container-fluid padding">
<div class="row text-center padding">
  <div class="col-12">
    <h2>Follow Us</h2>
  </div>
  <div class="col-12 social padding">
    <a href="#"><i class="fab fa-youtube"></i><a/>
    <a href="#"><i class="fab fa-twitter"></i><a/>
    <a href="https://www.instagram.com/lothori.team16/"><i class="fab fa-instagram"></i><a/>
  </div>
</div>
</div>


<!--- FOOTER --->
<footer>
<div class="conatiner-fluid padding">
<div class="row text-center">
  <div class="col-md-12">
    <p>phone</p>
    <p>email</p>
  </div>
  <div class="col-12">
    <h5>&copy; lothori.com</h5>
  </div>
</div>
</div>
</footer>

</body>
</html>
